body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
}

#txtId {
    padding: 8px;
    margin-bottom: 10px;
}

#btnEnviar {
    padding: 8px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#btnEnviar:hover {
    background-color: #333;
}

.center-container {
    text-align: center;
    margin: 20px;
}

#tabla {
    display: none;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}


#tabla th, #tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tabla th {
    background-color: black;
    color: white;
}

.columna3 {
    background-color: #f2f2f2;
    color: #333;
}

input{
    text-align: center;
}
i{
    color: black;
}