/* estilos.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
    display: inline-block;
}

header {
    background-color: #4285f4;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.center-container {
    max-width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0d47a1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4285f4;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
