body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #333;
}

.center-container {
    text-align: center;
    margin: 20px;
}

#btnLimpiar,
#btnCargar {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#btnLimpiar:hover,
#btnCargar:hover {
    background-color: #45a049;
}

#tabla {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    display: table; /* Cambiado de display: none; a display: table; */
}


#tabla th,
#tabla td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#tabla th {
    background-color: #4CAF50;
    color: white;
}

.columna3 {
    background-color: #f2f2f2;
    color: #333;
}
